<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bondly</title>
</head>

<body>
  <div>
    <h1>Post Table</h1>
    <table id="customers" border="1">
      <thead>
        <th>Post Id</th>
        <th>Title</th>
        <th>Content</th>
        <th colspan="2" id="mid">Action</th>
      </thead>

      <tbody>
        <tr>
          <td>A1B2</td>
          <td>Post title</td>
          <td>This is a post content</td>
          <td>
            <a href="">
              <button id="up">Update</button>
            </a>
          </td>
          <td>
            <a href="">
              <button id="del">Delete</button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <br><br>

    <a href="{% url 'add_post' %}">
      <button id="new">Add Post</button>
    </a>
  </div>
</body>

</html>